<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.studenckieprzepisy"
          android:installLocation="preferExternal"
          android:versionCode="1"
          android:versionName="1.0"
        >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="17"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme">
        <activity
                android:icon="@drawable/ic_launcher"
                android:name="com.example.studenckieprzepisy.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RecipeView.Przeepis"
                  android:icon="@drawable/ic_launcher"/>
        <activity android:name=".AddRecipe.AddPrzepis" />
        <activity android:name=".AddRecipe.AddSkladnik" android:screenOrientation="portrait"
                   android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".CategoryListView.PrzepisFromKategoria"/>
        <activity android:name=".AdvancedSearch.AdvancedSearch"/>
    </application>

</manifest>
