#listContainer {
    background-color: #005500;
    margin: 1%;
    width: auto;
    height: 98%;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
}

    #listContainer #containerOfRecipies {
        height: 90%;
        width: inherit;
        margin-top: 3.5%;
    }

        #listContainer #containerOfRecipies #name {
            font-size: 250%;
            margin-left: 45px;
            text-decoration:underline;
        }
        #listContainer #containerOfRecipies #myDiv {
            margin-top: 2.5%;
            height: inherit;
        }

            #listContainer #containerOfRecipies #myDiv .myTabCss {
                border-spacing: 45px 0px;
                height: inherit;
                width: inherit;
            }

            #listContainer #containerOfRecipies #myDiv .myRowCss {
                height: 42%;
                width: inherit;
            }

            #listContainer #containerOfRecipies #myDiv .myCellCss {
                height: inherit;
                width: 20em;
            }

            #listContainer #containerOfRecipies #myDiv .myImageCss {
                border: solid;
                border-color: black;
                height:90%;
                width:100%;
            }


