body {
    background-size: 100% 100%;
    //background: rgb(51,51,51) url("/images/spadzetixD.jpg");
    //background-color: black;
}

body img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: fullscreen-landscape) {
}

@media screen and (max-width: filled) {
}

@media screen and (max-width: snapped) {
}

@media screen and (max-width: fullscreen-portrait) {
}
