#backCont{
    margin: 1%;
    color:red;
}
#groupedListView{
    height: 89%;
    padding-left: 6%;
    padding-right: 2%;
}

#empty{
    display:none; 
    margin:auto;
}

    #empty h1{
        margin: 25%; 
        margin-top: 20%;
    }

    .win-listview .win-itembox {
        padding: 1em;
        background-color:white;
        width: 10em;
        height: 5em;
        border: 1px solid black;
    }